.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.para{
    font-size: 22px;
    line-height: 1.5;
    color: #c4c5c5;
    text-align: center;
    margin-bottom: 10px;
}

.signin{
    margin-top: 20px;
}

.invite{
    color:#0077ff;
    margin-right: 5px;
}